._title {
  font-family: Codec Pro;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  margin: 20px 0;
}

._subtitle {
  font-family: Codec Pro;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0px;
}

._wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

