:root {
  --dark-grey: #121212;
  --white: #ffffff;
  --white-smoke: #f8f8f8;
  --grey: #ededf1;
  --foggy-grey: #aca99f;
  --sonic-silver: #777777;
  --warning: #d24340;
  --light-yellow: #fbc81d;
}
